nav.navbar.navbar-default.navbar-fixed-top.navbar-top
  .container
    .navbar-header
      a.navbar-brand Holland
    .navbar-collapse.collapse
      .nav.navbar-nav.navbar-right
        li
          a(href="#ask") 引言 INTRO
        li
          a(href="#evolution") 歷史 HISTORY
        li
          a(href="#features") 特色 FEATURES
        li
          a(href="#now") 現況 NOW
header.jumbotron
  .container
    h1(data-0="transform: translateY(-50px)"
       data-500="transform: translateY(100px)"
    ) 荷蘭．農業 x 科技 x 創新 = 多贏
    hr
    h3 小國大業－荷蘭農業的超現實成就

section#ask
  .container
    .row
      .col-sm-5.img(data-0="transform: translateX(-100px)"
       data-500="transform: translateY(0px)"
    )
      .col-sm-7(data-300="opacity: 0"
       data-500="opacity: 1"
    )
        h2 身為全球第二大食品出口國，而其國土面積卻僅是美國的1/270。荷蘭怎麼辦到的?
section#evolution
  .container
    .row
      .col-sm-12(
      data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1"
      )
        h1 荷蘭農業進化史
        hr
      .col-md-4.col-sm-6
        .img_wrap(
      data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1"
      )
          img(src="https://i.pinimg.com/236x/e2/71/5f/e2715fce72d561c315d97812734328d1--wwii-amsterdam.jpg", alt="")
        h3(
      data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1"
      ) 改變的起點
        p(
      data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1"
      ) 1945年初，亦即二次世界大戰末期，荷蘭人經歷了一個可怕的冬天。那年約有兩萬名荷蘭人因耐不住（冬天的）嚴寒跟（身體）飢餓先後死亡。大戰結束後，這種飢餓的（身體）記憶激發了荷蘭人積極發展農業的決心。為了增加經營效率，農家相互併購或交換農地，將過去分散的田地集中開發經營，並進行機械化跟工業化的改革。
      .col-md-4.col-sm-6
        .img_wrap(
      data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1"
      )
          img(src="http://cdn.brownstoner.com/wp-content/uploads/2016/02/flatlands-family-farm1.jpg", alt="")
        h3(
      data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1"
      ) 家庭農場倒閉潮
        p(
      data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1"
      ) 在土地使用計畫裡，部分原有的農地因改作都市建設或娛樂休閒區，實際農地的面積於是逐漸縮小。由於大型農場不斷增加，農業科技的要求也持續提高，專業知識越來越複雜，歐盟跟政府的管制條例也越來越多，要維持農場的競爭力亦越發困難。2003年，在荷蘭還占世界花卉市場的60%、其他植物和作物市場也有40%的強勢的年代裡，跟不上時代腳步的家庭農場，卻以每週90家的驚人速度紛紛倒閉。
      .col-md-4.col-sm-6
        .img_wrap(
      data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1"
      )
          img(src="https://itravel81.files.wordpress.com/2012/02/01.jpg", alt="")
        h3(
      data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1"
      ) 人與自然雙贏
        p(
      data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1"
      ) 在缺乏後代接管的祖傳農場，地主仍可保留農地，將土地轉租給需要更大耕地的農家。舉例來說，農場主人以一公頃地4000歐元的年租將一塊土壤肥沃、結構疏鬆的好耕地租給鬱金香的花農。接下來的四、五年，由於這塊地的生產力降低，只能以大約1800歐元的價格租給種青花菜、花椰菜等只需次等土壤的農人。接下來是土地的休耕期。地主會在這塊土地上種植禾草來改善土壤品質，並讓畜牧業者在其上放牧牛羊。牛羊的排泄物可以「滋潤」農地，地主也可以向畜牧業者收取300 歐元的借用金，而長出來的草還可賣給畜牧業者做為牛羊飼料。三年後，土地恢復了活力，又可再租給鬱金香花農，開始新的循環。

section#features
  .container-fluid
    .row
      .col-sm-5.img(
      data-bottom-top="background-size: 150%;background-position: 0% 0%;" data-center="background-size: 110%;background-position: 50% 50%;"
      )
      .col-sm-7
        .col-sm-12.features
          h2 荷蘭農業三大特色
          hr
        .col-sm-12
          .col-sm-4(
      data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1"
      )
            i.fa.fa-info
            h4 即時資訊
          .col-sm-4(
      data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1"
      )
            i.fa.fa-bolt
            h4 自動化溫室
          .col-sm-4(
      data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1"
      )
            i.fa.fa-line-chart
            h4 創新嘗試
        .col-sm-12.features
          p 隨著農業知識與種植技術日新月異，不管農場大小，若要保持競爭力，每個人都得嚴陣以待，吸收最新的專業知識。從前經營農場者只需要出勞力，今日的農人不但要有最新的農業知識，還得知道如何善用。

section#now
  .container-fluid
    .row
      .col-sm-12(
      data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1"
      )
        h2 現在的荷蘭農業發展
        hr
      .col-sm-6.feature
        img(src="https://bmcontent.affino.com/AcuCustom/Sitename/DAM/197/291217_p1_Windmills_and_Tulips_ThinkstockPhotos-467285756_Main.jpg", alt=""
        data-bottom-top="filter: grayscale(100%)"
        data-center="filter: grayscale(0%)")
      .col-sm-6.feature(
      data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1"
      )
        i.fa.fa-leaf
        h3 媲美矽谷的「種谷」
        p 小鎮恩克豪森（Enkhuizen）已儼然成了世界育種業的搖籃。隨後與種子處理技術相關的研發公司也紛紛跟進，現在已有三十多家領先世界蔬菜花卉的育種公司，改良種子技術的高科技公司及種子處理的加工機械公司，也都集中在荷蘭的這一角， 形成今日所謂的「種谷」（Seed Valley）
        p 安莎育種公司成功的祕訣是能夠預測出消費市場跟種植公司未來的訴求跟走向，培育出趕在時代先端的品種，及時推出市場。如今已成為世界上最大的育種公司之一了。從育種、篩選到加工，一氣呵成，使「種谷」不論是實質上或象徵上，都是世界種子的「谷」倉。
      .col-sm-6.feature(
      data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1"
      )
        i.fa.fa-envira
        h3 有機市場的開發
        p 荷蘭的有機認證所Skal代表政府監測，檢驗有機作物的生產過程是否合乎有機作業的原則，並授予EKO標記的使用權。有機作業的原則包括：不用農藥、不用化學肥料、只用有限的有機肥料、不能只種單一作物、不准選用基改作物。此外，為了避免作物受病蟲害，可採植物輪種計畫，在小塊地上種植不同作物，選擇抗病性高的品種，以確保土壤組織的品質和土裡生物的活力。
        |（資料來源：荷事生非－小國大業：荷蘭農業的超現實成就，作者－馬慧志）

footer.jumbotron
  .container
    h2 想了解更多荷蘭農業資訊嗎？
    input.form-control(placeholder="Email")
    hr
    button.btn.btn-default 聯絡我們





